{%extends 'base.html'%}

{%block title%}
Ergast

{%endblock%}

{%block  styles%} 

<!-- <link rel="stylesheet" href="../static/styles/pokemon.css"> -->

{%endblock%}

{%block content%}

  {% for }
<!-- {%include './includes/nav.html'%} -->
<!-- <form method="POST"> -->

  <!-- {{ form.hidden_tag()}} -->
    <!-- <div class="mb-3">
      <label for="text" class="form-label">pokemon name or id</label>
      {{form.name_or_id(class="form-control", id="name_or_id")}}
    </div>
    {{form.submit_btn(class ="btn my-btn")}}
  </form>

  {% if pokemons %}
  <div class="card">
    <img src="{{pokemons.sprite_img}}" class="card-img-top" alt="...">
    <div>
      <p >{{'name'}}:  {{pokemons.name}}<br>
      {{'base_hp'}}: {{pokemons.base_hp}} <br>
      {{'base_attack'}}: {{pokemons.base_attack}} <br>
      {{'base_defense'}}: {{pokemons.base_defense}} 

    
    </p>
      
    </div>
  </div>
  -->
  
  <!-- <h1>Pokemon</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name_or_id.label }} {{ form.name_or_id(size=32) }}
        {{ form.search() }}
        {% if pokemons %}
            <h2>{{ pokemons.name }}</h2>
            <p>Ability: {{ pokemons.ability }}</p>
            <p>Base HP: {{ pokemons.base_hp }}</p>
            <p>Base Attack: {{ pokemons.base_attack }}</p>
            <p>Base Defense: {{ pokemons.base_defense }}</p>
            <img src="{{ pokemons.sprite_img }}" alt="Pokemon Image">
            <button type="submit" name="catch" value="1">Catch</button>
        {% endif %}



  {%endif%} -->

{%endblock%}